header {
    float: left;
}
body {
	background: linear-gradient(-45deg, #7C05F2, #6204BF, #050259, #F205CB, #F23827);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
	
		color: white;
	}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
}